html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-bucket {
  width: 50%;
  height: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

blockquote {
  padding: 20px;
}

button {
  background-color: lightgrey;
}

.twitter-share-button {
  margin-bottom: 10px;
}